
<div style="margin: 10px;">
  <div style="display: flex; align-items: baseline;">
    <p style="font-size: 20px; font-weight: 410; color: #555955;">FINALISE BASE VERSION
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <kendo-stepper [steps]="steps" stepType="full" [(currentStep)]="current" [linear]="false" [style.width.px]="570">
    </kendo-stepper>
  </div>
  <hr>
  <div style="padding: 0px 20px ; width: 100%;">
    <div style="padding: 20px 20px 0px; ">
      <kendo-progressbar [value]="value"></kendo-progressbar>
    </div>
    <div style="display: flex; justify-content: space-between; padding: 20px 20px 0px; height: 500px;">
      <div style="width: 50%; border: solid 1px; border-color: grey; margin-right: 20px;">
        hello
      </div>
      <div style="width: 50%; border: solid 1px; border-color: grey;">
        hiiiiiiiii
      </div>
    </div>
  </div>
</div>