
@use '@angular/material' as mat;
@use "/src/styles/abstracts/variables";
@use "/src/styles/abstracts/functions";
@use "/src/styles/abstracts/mixins";


html, body {
  height: 100%;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(0.8);
  color: black;
}

 
.colorcode {
  color:functions.matColor(variables.$trapeze-palette-primary, 700);

}

.colorcode-hr-wrapper hr {
  border-color:functions.matColor(variables.$trapeze-palette-primary, 700);
}

.custom-hr {
    margin-top: -5px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: content-box; /* or box-sizing: border-box; */
    line-height: 1;
    color: maroon;
  }