<div>
    <h4 style="padding-left:1%"> Copy Base Version</h4>
    <kendo-stepper
    [steps]="steps"
        stepType="full"
        [(currentStep)]="currentStep"
        (activate)="onStepActivate($event)"
        [linear]="false"
        [style.width.px]="500">
    </kendo-stepper>
    <br/>

    <kendo-gridlayout style="width:98%;" 
    [align]="{horizontal:'stretch',vertical:'stretch'}"                    
     [rows]="[ { height:  '100%' } ]"
     [cols] ="[{ width:'12%'  },{ width:'58%'  },{ width:'12%'  }]"
     >
<kendo-gridlayout-item [row]="1" [col]="1"  style="padding-top:12%;" >
      <div disabled style="display: flex; flex-direction: column;  justify-content: center; align-items: center; height: 100%;">
        <button #Previous style=" align-items: center;" [disabled]="copying" icon="arrow-60-left" kendoButton fillMode="flat" (click)="PrevStep()"></button>
       <label  [for]="Previous">Previous</label>
      </div>

</kendo-gridlayout-item>
<kendo-gridlayout-item [row]="1" [col]="2">

    <ng-container *ngIf="selection">
    <div class="container" style="padding-left:5%;" name="selection">
     <kendo-label class="k-form" text=" Source Base Version" style="font-size:20px;"/>
     <br/>
     <kendo-label class="k-form" style="font-size:14px;" text="Bv Number :  {{bvNumber}}" />
     <br/>
      <kendo-label class="k-form" style="font-size:14px;" text="Bv Description :  {{bvName}}" />
      <br/><br/>
      <kendo-label class="k-form" text="Target Base Version"  style="font-size:20px;"/>
      <br/><kendo-label class="k-form" style="font-size:14px;" text="Bv Number:  {{bvNumber}}" />
      <br/>
      
      <form [formGroup]="formGroup">
      <br/>
      <kendo-formfield>
        <kendo-textbox (blur)="onTextBoxBlur()" formControlName="description" required [style.width.px]="250" placeholder="Enter the BV description"  #description [clearButton]="true"></kendo-textbox>
        <kendo-formerror>Description is required</kendo-formerror>
    </kendo-formfield>
    
    
      <br/><kendo-label  style="font-size:20px;" text="Options" />
     
    
        <ul class="k-radio-list">
            <li style="height:18px;">
                <input type="radio" (change)="EnableControl($event,'masterRoute')"    #masterRoute value="masterRoute" kendoRadioButton formControlName="options" />
                <kendo-label class="k-form" style="font-size:14px;" [for]="masterRoute" text="Master and route data"></kendo-label>
            </li>
            <li style="height:18px;" >
                <input type="radio" (change)="EnableControl($event,'masterRouteTime')"    #masterRouteTime value="masterRouteTime" kendoRadioButton formControlName="options" />
                <kendo-label class="k-form" style="font-size:14px;" [for]="masterRouteTime"  text="Master, route and time data"></kendo-label>
            </li>
            <li style="height:18px;">
                <input type="radio" (change)="EnableControl($event,'masterRouteTimetable')"  #masterRouteTimetable value="masterRouteTimetable" kendoRadioButton formControlName="options" />
                <kendo-label class="k-form" style="font-size:14px;" [for]="masterRouteTimetable" text="Master, route and timetable selection"></kendo-label>
            </li>
            <li style="height:18px;">
                <input type="radio" #all  (change)="EnableControl($event,'all')" value="all" kendoRadioButton formControlName="options" />
                <kendo-label class="k-form" style="font-size:14px;" [for]="all" text="All"></kendo-label>
            </li>
        </ul>
    </form>
    
    
    </div>
    </ng-container>

    <ng-container *ngIf="routeselection">
        Route Selection
    </ng-container>
    <ng-container *ngIf="copying">
        <!-- <kendo-progressbar class="progressbar" style="width:50%;height:1rem;background-color:whitesmoke;color:green"
        [value]="value"
        [label]="label"></kendo-progressbar> -->
        <kendo-gridlayout style="width:100%;height:100%" 
        [align]="{horizontal:'stretch',vertical:'stretch'}"                    
         [rows] ="[{ height:  'auto' }]"
         [cols] ="[{ width:  '45%' }, { width:  '55%' } ]"
         >
   <kendo-gridlayout-item [row]="1" [col]="1" [colSpan]="1" style="padding-top:10px;" >
   <div>
            <div class="parent-progress" >
                <kendo-progressbar style=" width:90%" [value]="value" [label]="label" class="outer-progress"></kendo-progressbar>
                <ng-container *ngIf="taskCompleted">
                    <span class="k-icon k-i-check"></span>
                </ng-container>
              </div>
              
              <div class="parent-progress" style="padding-left:1%; width:90%">
                <kendo-progressbar  style="padding-left:1%; width:90%"  [label]="label" [value]="value" class="inner-progress"></kendo-progressbar>
                <ng-container *ngIf="taskCompleted">
                    <span class="k-icon k-i-check"></span>
                </ng-container>
               </div></div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item [row]="1" [col]="2" [colSpan]="1"  >
               <kendo-scrollview 
               [data]="items" 
               [width]="width"
               [height]="height" >
               <ng-template let-item="item">
                <div style="height: 0px; margin-bottom:-10px;line-height: 1;">
                  <ng-container *ngFor="let message of item.message">
                    {{ message }} <br>
                  </ng-container>
                </div>
              </ng-template>
             </kendo-scrollview>
            </kendo-gridlayout-item>
    </kendo-gridlayout>
      </ng-container>
</kendo-gridlayout-item>
    <kendo-gridlayout-item [row]="1" [col]="3"  style="padding-top:12%;" >
        <div style="display: flex; flex-direction: column;  justify-content: center; align-items: center; height: 100%;">
            <button #Next style=" align-items: center;" icon="arrow-60-right" kendoButton  fillMode="flat" (click)="NextStep()"></button>
           <label  [for]="Next">Next</label>
          </div>
    </kendo-gridlayout-item>
</kendo-gridlayout>

    <!-- <p>Form value: {{ formGroup.value | json }}; Valid: {{ formGroup.valid }}</p> -->
    </div>